@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #232633;
    --card: #ffffff;
    --card-foreground: #232633;
    --popover: #ffffff;
    --popover-foreground: #232633;
    --primary: #ece6f0; /*search bar*/
    --primary-foreground: #fafafa;
    --secondary: #f1effa;
    --secondary-foreground: #2d3040;
    --button: #333333;
    --button-secondary: #555555;
    --muted: #f2f0fa;
    --muted-foreground: #5e6373;
    --accent: #f0eef9;
    --accent-foreground: #232633;
    --destructive: #e45757;
    --destructive-foreground: #fafafa;
    --border: #e5e3f2;
    --input: #e5e3f2;
    --ring: #3745b5;
    --radius: 0.75rem;
  }

  .bg-base {
    background-color: hsl(var(--background));
  }

  .dark {
    --background: 240 10% 5%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 60% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 240 10% 25%;
    --accent-foreground: 0 0% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 240 60% 45%;
  }
}

.hover-text {
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}
.hover-text:hover {
  background-color: var(--button);
  color: var(--background);
}
.hover-search {
  padding: 5px 10px;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* supaya konten gak ketutup navbar fixed */
}
